* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 30px;
  background-color: rgba(192, 192, 192, 0.5);
}
